header{
  background-color: #774953;
  }

body{
  /* width: 90%; */
  background-color:#b86740;
}

h1{
  padding-top: 35px;
  font-family: Sacramento;
  color:blanchedalmond;
  font-style: italic;
  font-weight: 300;
  font-size: 100px;
}

li{
  display: inline;
  padding 20px;
  height: 30px;
  background-color: #182425;
  color: blanchedalmond;
  font-family: Arial, Helvetica, sans-serif;
}

img{
  width: 640px;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2{
font-family: Arial, Helvetica, sans-serif;
}

section{
background-color: #D9BB78;
}

table{
  margin-top: 50px;
  background-color: blanchedalmond;
  padding-left: 10px;
  border-color: black;
  font-size: large;
}

th{
  background-color: #774953;
  border-color: blanchedalmond;
  border-style: solid;
  color: white;
  margin: 10px;
  padding: 15px;
}

td{
  background-color: blanchedalmond;
  border-color: black;
  border-style: solid;
  text-align: right;
  margin: 10px;
  padding: 15px;
}

tr{
  padding: 10;
}