header{
  background-color: #774953;
  }

body{
  /* width: 90%; */
  background-color:#b86740;
}

h1{
  padding-top: 35px;
  font-family: Sacramento;
  color:blanchedalmond;
  font-style: italic;
  font-weight: 300;
  font-size: 100px;
}

/* h3{
  display: inline;
} */

ul{
  background-color: black;
  list-style-type:none;
  color: blanchedalmond; 
}

li{
  display: -webkit-inline-box;
  height: 30px;
  color: blanchedalmond;
  font-family: Arial, Helvetica, sans-serif;
}

img{
  width: 640px;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2{
font-family: Sacramento;
color: #774953;
font-size: 40px;
font-weight: bolder;
line-height: 1.5em;
margin-left: 25px;
font-style: bold;
font-style: italic;
}

p{
  float: left;
  display: inline-block;
  margin-inline: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  line-height: 1.5em;
  }


b{
font-weight: bold;
}


section{
background-color: #D9BB78;
}

table{
  margin-top: 50px;
  margin-left: 25px;
  background-color: blanchedalmond;
  padding-left: 25px;
  border-color: black;
  font-size: large;
}

th{
  background-color: #774953;
  border-color: #774953;
  border-style: solid;
  color: white;
  margin: 10px;
  padding: 15px;
}

td{
  background-color: blanchedalmond;
  border-color: black;
  border-style: solid;
  text-align: right;
  margin: 10px;
  padding: 15px;
}

tr{
  padding: 10;
}


button{
  display:inline-block;
  margin-left: 25px;
  background-color burlywood;
  font-size: 18px;
  color: #774953;
  height: 50px;
  width: 100px;
}

fieldset{
  height 250px;
  background-color: #774953;
  border: rgb(38, 78, 38);
  border-width: 2px;

}

label{

}