header{
  background-color: #774953;
  font-family: ;
}

body{
  background-color:#b86740
}

h1{
  font-family: Sacramento;
}

h2{

}

section{
background-color: #D9BB78
};

table{
  background-color: blanchedalmond;
}

